*.pyc
untitled
media
.idea
node_modules
venv
.env
.gitattributes
package.json
package-lock.json
startup.sh
Pipfile.lock
/monta/static/
.mypy_cache/
.pyre/
monta_venv
new_venv
untitled.iml
/.pylintrc
.coverage
/htmlcov/
/static/
/templates/
/backend/