[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.2"
psycopg2 = "==2.9.3"
daphne = "==3.0.2"
channels = "==3.0.5"
pillow = "==9.2.0"
django-compressor = "==4.1"
django-htmlmin = "==0.11.0"
django-brotli = "==0.2.0"
django-redis = "==5.2.0"
brotli = "==1.0.9"
sorl-thumbnail = "==12.9.0"
redis = "==4.3.4"
django-redis-cache = "==1.8.0"
django-redis-sessions = "==0.6.2"
djangorestframework = "==3.13.1"
django-cors-headers = "==3.13.0"
djangorestframework-simplejwt = "==5.2.0"
django-tz-detect = "==0.4.0"
django-filter = "==22.1"
django-ajax-datatable = "==4.4.4"
django-crispy-forms = "==1.14.0"
black = "==22.8.0"
django-extensions = "==3.2.1"
pylint = "==2.15.3"
autopep8 = "==1.7.0"
mypy = "==0.961"
babi = "==1.5.3"
markdown = "==3.4.1"
celery = "==5.2.7"
django-localflavor = "==3.1"
django-redisboard = "==8.3.0"
attrs = "==22.1.0"
obd = "==0.7.1"
flake8 = "==5.0.4"
django-ratelimit = "*"
googlemaps = "*"
httpx = "*"
amqp = "==5.1.1"
asgiref = "==3.5.2"
astroid = "==2.12.10"
async-timeout = "==4.0.2"
autobahn = "==22.7.1"
automat = "==20.2.0"
babi-grammars = "==0.0.45"
beautifulsoup4 = "==4.11.1"
billiard = "==3.6.4.0"
cffi = "==1.15.1"
cfgv = "==3.3.1"
click = "==8.1.3"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
constantly = "==15.1.0"
cryptography = "==38.0.1"
deprecated = "==1.2.13"
dill = "==0.3.5.1"
distlib = "==0.3.6"
django-appconf = "==1.0.5"
django-stubs-ext = "==0.5.0"
filelock = "==3.8.0"
html5lib = "==1.1"
hyperlink = "==21.0.0"
identify = "==2.5.5"
idna = "==3.4"
incremental = "==21.3.0"
isort = "==5.10.1"
kombu = "==5.2.4"
lazy-object-proxy = "==1.7.1"
mccabe = "==0.7.0"
mypy-extensions = "==0.4.3"
nodeenv = "==1.7.0"
onigurumacffi = "==1.2.0"
packaging = "==21.3"
pathspec = "==0.10.1"
pint = "==0.7.2"
platformdirs = "==2.5.2"
pre-commit = "==2.20.0"
prompt-toolkit = "==3.0.31"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycodestyle = "==2.9.1"
pycparser = "==2.21"
pyflakes = "==2.5.0"
pyjwt = "==2.5.0"
pylint-plugin-utils = "==0.7"
pyopenssl = "==22.0.0"
pyparsing = "==3.0.9"
pyserial = "==3.5"
python-stdnum = "==1.17"
pytz = "==2022.2.1"
pyyaml = "==6.0"
rcssmin = "==1.1.0"
rjsmin = "==1.2.0"
service-identity = "==21.1.0"
six = "==1.16.0"
soupsieve = "==2.3.2.post1"
sqlparse = "==0.4.2"
toml = "==0.10.2"
tomli = "==2.0.1"
tomlkit = "==0.11.4"
twisted = {version = "==22.8.0", extras = ["tls"]}
txaio = "==22.2.1"
types-pytz = "==2022.2.1.0"
types-pyyaml = "==6.0.11"
typing-extensions = "==4.3.0"
vine = "==5.0.0"
virtualenv = "==20.16.5"
wcwidth = "==0.2.5"
webencodings = "==0.5.1"
whitenoise = {version = "==6.2.0", extras = ["brotli"]}
wrapt = "==1.14.1"
"zope.interface" = "==5.4.0"
django-stubs = {extras = ["compatible-mypy"], version = "*"}
pydot = "*"
django-braces = "*"
factory-boy = "*"
pytest-django = "*"
pylint-django = {extras = ["with_django"], version = "*"}
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
